<!DOCTYPE html>
<head>
    <title>Super Sprinter 3000</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
    }
    </style>
</head>
<body>
    <form action="/story">
        <input type="submit" value="Add new User Story">
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.story_title }}</td>
            <td>{{ row.user_story }}</td>
            <td>{{ row.acceptance_criteria }}</td>
            <td>{{ row.business_value }}</td>
            <td>{{ row.estimation }}</td>
            <td>{{ row.status }}</td>
            <td><a href="/story/{{ row.id }}">
                <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td><a href="/story/{{ row[0] }}">
                <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
